.work-page {
  font-size: 1vw;

  flex: 1;
  flex-direction: column;
  .text-zone {
    flex: 1;
  }
  .my-work {
    .work {
      display: flex;
      flex-direction: row;
      min-height: 90vh;
      gap: 3vw;
      align-items: center;

      .work-image {
        position: relative;
        flex: 2;
        display: flex;
        align-items: center;

        img {
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
          -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
          -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.28);
          position: absolute;
          width: 100%;
          -webkit-animation-name: fade;
          -webkit-animation-iteration-count: infinite;
          -webkit-animation-duration: 9s;
          animation-name: fade;
          animation-iteration-count: infinite;
          animation-duration: 9s;
          &:nth-of-type(2) {
            -webkit-animation-delay: -3s;
          }
        }
      }

      .work-content {
        max-width: 35%;
        .title {
          font-size: 2vw;
          font-family: "Coolvetica";
          font-weight: 400;
        }
        .content {
          p {
            color: white;
            font-family: sans-serif;
            font-weight: 300;
            word-wrap: break-word;
          }
          a {
            color: #a6a867;

            text-decoration: none;
            i {
              transition: all 0.3s ease-out;
            }

            &:hover {
              transition: ease-in 0.5s;
              text-transform: uppercase;
              letter-spacing: 1px;
              &:after {
                transition: ease-out 0.3s;
                letter-spacing: normal;
              }
            }
          }
        }
      }
    }
    :nth-child(even) {
      flex-direction: row-reverse;
    }
    /* :nth-child(n) {
      flex: 1;
    } */
  }
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 420px) {
  .work-page {
    font-size: 3vw;
    .my-work {
      .work {
        .work-content {
          .title {
            font-size: 6vw;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 420px) {
  .work-page {
    font-size: 2vw;
    .my-work {
      .work {
        .work-content {
          .title {
            font-size: 4vw;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 660px) {
  .work-page {
    font-size: 1.5vw;
    .my-work {
      .work {
        .work-content {
          .title {
            font-size: 3vw;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 700px) and (min-height: 900px) {
  .work-page {
    font-size: 2vw;
    .my-work {
      .work {
        .work-content {
          .title {
            font-size: 4vw;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .work-page {
    .my-work {
      .work {
        flex-direction: column-reverse;

        .work-image {
          width: 100%;
          flex: 2;
          align-items: flex-start;
          img {
            left: 0;
            width: 100%;
            position: absolute;
          }
        }

        .work-content {
          max-width: fit-content;

          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .title {
          }
        }
      }
      :nth-child(even) {
        flex-direction: column-reverse;
      }
      :nth-child(n) {
        flex: none;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .work-page {
    font-size: 1vw;
    .my-work {
      .work {
        .work-content {
          .title {
            font-size: 2vw;
          }
        }
      }
    }
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
