.container {
  margin-left: 10vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
  will-change: contents;
  opacity: 0;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.tags {
  color: #a6a867;
  opacity: 0.6;
  // position: absolute;
  //bottom: 0;
  //left: 12vh;
  padding: 2% 0;
  font-size: 18px;
  font-family: "La Belle Aurore";
}

.top-tags {
  top: 0;
  margin-left: 5%;
  :last-child {
    margin-left: 2%;
  }
}

.bottom-tags {
  bottom: 0;
  margin-left: 5%;
  :first-child {
    margin-left: 2%;
  }
}

.about-page,
.contact-page,
.home-page,
.work-page {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 2vh 10%;

  .text-zone {
    width: 50%;
    h1 {
      font-size: 3.6vw;
      font-family: "Coolvetica";
      color: #a6a867;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: "<h1>";
        font-family: "La Belle Aurore";
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }
      &::after {
        content: "</h1>";
        font-family: "La Belle Aurore";
        font-size: 18px;
        position: absolute;
        margin-left: 20px;
        left: -30px;
        bottom: -20px;
        opacity: 0.6;
        line-height: 18px;
      }
    }

    p {
      font-style: 13px;
      color: white;
      font-family: sans-serif;
      font-weight: 300;
      min-width: fit-content;
      opacity: 0;
      animation: fadeIn 1s;
      animation-fill-mode: forwards;
      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          animation-delay: #{2+ ($i / 10)}s;
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .tags {
    padding: 10% 0 2%;
    left: 3vh;
  }

  .bottom-tags {
    padding-top: 0;
  }

  .about-page,
  .contact-page,
  .home-page,
  .work-page {
    //padding: 0 8vh;
    .text-zone {
      width: 100%;
    }
  }
  .container {
    padding-top: 10%;
    margin-left: 0;
    height: calc(100vh - 6%);
  }
}

@media only screen and (min-width: 280px) {
  .about-page,
  .contact-page,
  .home-page,
  .work-page {
    .text-zone {
      h1 {
        font-size: 10vw;
      }
    }
  }
}

@media (min-height: 500px) and (min-width: 580px) {
  .about-page,
  .contact-page,
  .home-page,
  .work-page {
    .text-zone {
      h1 {
        font-size: 7vw;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .about-page,
  .contact-page,
  .home-page,
  .work-page {
    .text-zone {
      h1 {
        font-size: 3.5vw;
      }
    }
  }
}

@media (min-height: 700px) and (min-width: 500px) {
  .about-page,
  .contact-page,
  .home-page,
  .work-page {
    padding: 0 8vh;
    .text-zone {
      width: 100%;
    }
  }
}

@media (min-width: 1000px) {
  .about-page,
  .contact-page,
  .home-page,
  .work-page {
    padding: 2vh 10%;
    .text-zone {
      width: 50%;
    }
  }
}
