.home-page {
  .text-zone {
    display: flex;
    flex-direction: column;
    gap: 3%;
    h1 {
      color: white;
      font-size: 3.6vw;

      &::before {
        color: #a6a867;
      }
      &::after {
        color: #a6a867;
      }
    }
  }
  h2 {
    color: #8d8d8d;

    font-weight: 400;
    font-size: 1.2rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }
  .flat-button {
    width: fit-content;
    color: #a6a867;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid #a6a867;

    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #a6a867;
      color: #333;
    }
  }
}

/* @media only screen and (max-width: 760px) {
  .home-page {
    .text-zone {
      h1 {
        font-size: 7vw;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .home-page {
    .text-zone {
      h1 {
        font-size: 10vw;
      }
    }
  }
} */

@media only screen and (min-width: 280px) {
  .home-page {
    .text-zone {
      h1 {
        font-size: 10vw;
      }
    }
  }
}

@media (min-height: 500px) and (min-width: 580px) {
  /* CSS stuff */
  .home-page {
    .text-zone {
      h1 {
        font-size: 7vw;
      }
    }
  }
}

/* @media only screen and (min-width: 760px) {
 
}
 */
@media only screen and (min-width: 992px) {
  .home-page {
    .text-zone {
      h1 {
        font-size: 3.5vw;
      }
    }
  }
}
