%default-inputs {
  width: 100%;
  border: 1px solid #e3dc95;
  border-radius: 8px;
  background: transparent;
  height: 50px;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
  :focus {
    border-color: white !important;
  }
}

.contact-form {
  width: 100%;
  margin-top: 20px;
  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }
    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    @extend %default-inputs;
    padding: 0 20px;
  }
  textarea {
    @extend %default-inputs;
    padding: 20px;
    min-height: 150px;
    resize: none;
  }

  .flat-button {
    color: #a6a867;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #a6a867;
    float: left;
    border-radius: 4px;
    &:hover {
      background: #a6a867;
      color: #333;
    }
  }
}
