.nav-bar {
  background: #181818;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  .logo {
    font-family: "Inspiration", cursive;
    letter-spacing: 0.1px;
    font-size: 5em;
    color: #a6a867;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
      animation-name: rainbow;
      animation-duration: 1s;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #a6a867;
        svg {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: "HOME";
        }
      }
    }
    a.about-link {
      &::after {
        content: "ABOUT";
      }
    }
    a.contact-link {
      &::after {
        content: "CONTACT";
      }
    }

    a.active {
      svg {
        color: #a6a867;
      }
    }
  }
  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: #a6a867;
        }
      }
    }
  }
}

@keyframes rainbow {
  30% {
    text-shadow: 3px 2px 5px rgba(250, 250, 250, 0.1);
  }
  55% {
    text-shadow: 3px -2px 5px white;
    top: 0px;
    left: -25px;
  }
  100% {
    text-shadow: 3px -4px 5px rgba(255, 250, 250, 0.1);
  }
}
