.nav-bar {
  background: #181818;
  width: 10vh;
  height: 100vh;
  position: fixed;
  z-index: 1;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logo {
    font-family: "Inspiration", cursive;
    letter-spacing: 0.1px;
    font-size: 5em;
    color: #a6a867;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    &:hover {
      animation-name: rainbow;
      animation-duration: 1s;
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
      }
    }
    a {
      font-size: 22px;
      color: #4d4d4e;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;
      text-align: center;
      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #a6a867;
        svg {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: "HOME";
        }
      }
    }
    a.about-link {
      &::after {
        content: "ABOUT";
      }
    }
    a.work-link {
      &::after {
        content: "MY WORK";
      }
    }
    a.contact-link {
      &::after {
        content: "CONTACT";
      }
    }

    a.active {
      color: #a6a867;

      svg {
        color: #a6a867;
      }
    }
    .bottom-list {
      display: none;
    }
  }
  .hamburger {
    display: none;
  }
  .bottom-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    a {
      font-size: 15px;
      &:hover svg {
        color: #a6a867;
      }
    }
  }
}

.navigation {
  display: none;
}

@keyframes rainbow {
  30% {
    text-shadow: 3px 2px 5px rgba(250, 250, 250, 0.1);
  }
  55% {
    text-shadow: 3px -2px 5px white;
    top: 0px;
    left: -25px;
  }
  100% {
    text-shadow: 3px -4px 5px rgba(255, 250, 250, 0.1);
  }
}

@media only screen and (max-width: 760px) {
  /* .nav-bar {
    display: none;
  } */

  .nav-bar {
    background: #181818;
    min-height: 6%;
    height: 6%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 50;
    padding: 0.5rem 0.5rem;

    .logo {
      font-size: 4rem;
      margin-left: 1rem;
    }

    nav {
      ul {
        display: none;
        padding: 0;
        // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
        position: absolute;
        top: 55px;
        left: 0;
        // stacks the li tags vertically
        flex-direction: column;
        // makes menu span full height and width
        width: 100%;
        height: calc(100vh - 5%);
        background: #181818;
      }
      a {
        // increases the surface area of the anchor tag to span more than just the anchor text
        gap: 0.5rem;
        width: 100%;
        // increases the surface area of the anchor tag to span the full width of the menu
        padding: 1.5rem 0;

        &::after {
          display: contents;
          font-size: 1.5rem;
        }
        &:hover {
          color: white;
          svg {
            opacity: 1;
            color: white;
          }
        }
      }
      .bottom-list {
        border-top: 1px solid white;
        display: block;
        a {
          font-size: 2rem;
          &:first-child {
            &::after {
              content: "";
            }
          }
        }
      }
    }

    .navigation-menu {
      margin-left: auto;
    }

    .navigation-menu.expanded ul {
      display: block;
    }

    .bottom-list {
      display: none;
    }

    .hamburger {
      // removes default border on button element
      border: 0;
      height: 40px;
      width: 40px;
      padding: 0.5rem;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      // positions the icon to the right and center aligns it vertically
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
      display: block;
      background: transparent;
      &:hover {
        svg {
          color: #a6a867;
        }
      }
      font-size: 16px;
    }
  }
}
